In [ ]:
# 내가 작성한 코드
n = int(input())

num_list = []

for i in range(n):
  num_list.append(int(input()))

num_list.sort(reverse=True)

for i in num_list:
  print(i, end=' ')

3
15
27
12
27 15 12

In [ ]:
# 다른 답안
n = int(input())

array =[]
for i in range(n):
  array.append(int(input()))

array = sorted(array, reverse=True)

for i in array:
  print(i, end=' ')

3
15
27
12
27 15 12

In [ ]:
# 내가 작성한 답안
n = int(input())

name_list= []
score_list = []

for i in range(n):
  name, score = input().split()
  name_list.append(name)
  score_list.append(int(score))

sort_list = sorted(score_list)

for i in range(len(sort_list)):
  for j in range(len(score_list)):
    if score_list[j] == sort_list[i]:
      print(name_list[j], end=' ')

2
홍길동 95
이순신 77
이순신 홍길동

In [ ]:
#다른 답안
n = int(input())

array = []
for i in range(n):
  input_data = input().split()
  array.append((input_data[0], int(input_data[1])))

array = sorted(array, key=lambda student : student[1])

for student in array:
  print(student[0], end=' ')

2
홍길동 95
이순신 77
이순신 홍길동

In [14]:
# 내가 작성한 답안
n, k = map(int,input().split())
a_list = sorted(list(map(int, input().split())))
b_list = sorted(list(map(int, input().split())),reverse=True)

for i in range(k):
    a_list[i] , b_list[i] = b_list[i], a_list[i]

result = 0
for i in a_list:
    result += i
    
print(result)

5 3
1 2 5 4 3
5 5 6 6 5
26

In [ ]:
# 다른 답안
n, k = map(int,input().split())
a = list(map(int, input().split()))
b = list(map(int, input().split()))

a.sort()
b.sort(reverse=True)

for i in range(k):
    if a[i] < b[i]:
        a[i], b[i] = b[i], a[i]
    else:
        break
print(sum(a))